# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# VS Code settings
.vscode/
 
# Local recipe data (do not track in git)
data/recipes.json
